<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" src="assets/Chef Image.jpg" alt="..." />
        <img class="card-img-top mb-5 mb-md-0" src="assets/Chef.jpg" alt="..." />
        <img class="card-img-top mb-5 mb-md-0" src="assets/Chef1.jpg" alt="..." />
      </div>

        <div class="col-md-6">
        <h5>Welcome to Cutie's Pie Shop – Where Pie Dreams Come True!</h5>
        <p>Indulge in the irresistible world of homemade pies at Cutie's Pie Shop.
            We specialize in handcrafted pies using only the finest
            ingredients and time-honored recipes. From flaky crusts to sumptuous fillings,
            each bite will transport you to a place of pure culinary delight.</p>

            <h5>About Us:</h5><p>
              We are passionate about pies.
              Our journey began 10 years ago when Cutie discovered their love for creating
              mouthwatering pies from scratch. Since then, our pie shop has grown into a beloved local establishment,
              cherished by pie enthusiasts of all ages. We take pride in sourcing fresh, locally sourced ingredients
              to ensure every slice is bursting with flavor.</p>

              <h5>Featured Pies:</h5>
              <p>Prepare to have your taste buds tantalized by our exceptional pie creations.
              From classic favorites like apple and cherry to unique combinations like salted caramel pecan
              and raspberry lemon meringue, our menu offers a delightful array of choices. Each pie is
              meticulously crafted with love and care, ensuring a heavenly experience with every bite.</p>

              <h5>Menu Overview:</h5>
              <p>Indulge in our diverse selection of pies, lovingly baked to perfection.
               Our menu features an assortment of sweet and savory options, catering to all palates.
               Whether you're in the mood for a comforting slice of traditional apple pie or a savory
               hand pie filled with mouthwatering ingredients, we have something to satisfy every craving.</p>

              <h5>Quality and Service:</h5>
              <p>At Cutie's Pie Shop, we prioritize quality and customer satisfaction above all else.
              Our team of skilled bakers and friendly staff are dedicated to providing you with a memorable
              pie experience. From the moment you step through our doors, expect warm smiles, personalized service,
              and pies that exceed your expectations.</p>

              <p>We believe that life is better with pie.
                Let us make your pie dreams come true. Come and experience
                the magic of our homemade pies today!</p>
      </div>
      </div>
  </div>
</section>
