form{
  margin-top: 1em !important;
  margin-left: 6em !important;
}
.btn-primary{
  background-color: palevioletred !important;
  border-color: palevioletred;
}
.btn-outline-dark{
  background-color: palevioletred !important;
  border-color: palevioletred;
  color: white;
}
.rounded-pill{
  background-color: palevioletred !important;
}
.imgcontainer{
  height: 250px;
  overflow: hidden;
}
