
<body>

  <!-- Page Content-->
  <div class="container px-3 px-lg-4">
    <!-- Heading Row-->
    <div class="row gx-4 gx-md-5 align-items-center my-5">
        <div class="col-md-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/Logo.jpg" alt="..." /></div>
        <div class="col-md-5">
            <h3 class="font-weight-light">Order your Dream Pie today</h3>
            <p>Make your Special moment more special and memorable by ordering our delicious Pie today</p>
            <p>We bake cake to make your day best !</p>
        </div>
    </div>
     <!-- Call to Action-->
     <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Our Special orders and the best sell includes</p></div>
  </div>
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Pine Pie</h2>
                <img class="card-img" src="assets/Pie3.jpg">
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order now</a></div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Strawberry Pie</h2>
                <img class="card-img" src="assets/Pie1.jpg">
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order now</a></div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Birthday Pie</h2>
                <img class="card-img" src="assets/Pie4.jpg">
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Order now</a></div>
        </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </div>
</body>










